
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link rel="stylesheet" href="/lib/css/game.css" />
    <script src="./lib/js/socket.js"></script>
    <script src="./lib/js/jquery.js"></script>
    <script src="./lib/js/all.js"></script>
    <script src="./lib/js/game.js"></script>
    <script src="./lib/js/logicleaderboard.js"></script>
    <meta name="keywords"
        content="blooket, blacket, private server, xotic, blacket private server, blooket private server">
</head>

<body>
    <div class="styles__sidebar___1XqWi-camelCase">
        <a href="/" id="big-name" class="styles__blooketText___1pMBG-camelCase">name</a>
        <div></div>
        <div class="styles__bottomRow___3OozA-camelCase">
        </div>
    </div>
    <div id="app">
        <div>
            <div>
                <div class="styles__topRightRow___dQvxc-camelCase">
                </div>
            </div>
            <div class="styles__background___2J-JA-camelCase">
                <div class="styles__blooksBackground___3oQ7Y-camelCase"
                    style="background-image: url('/content/background.png');"></div>
            </div>
            <div class="arts__profileBody___eNPbH-camelCase">
                <div class="styles__fullContainer___3Wl6C-camelCase">
                    <div class="styles__bottomContainer___3kOrb-camelCase">
                        <div class="styles__statsContainer___QnrRB-camelCase">
                            <div class="styles__containerHeader___3xghM-camelCase">
                                <div class="styles__containerHeaderInside___2omQm-camelCase">Leaderboard</div>
                            </div>
                            <div class="styles__containerHeaderRight___3xghM-camelCase" style="cursor: pointer;">
                                <div class="styles__containerHeaderInside___2omQm-camelCase">Tokens</div>
                            </div>
                            <div>
                                <div class="styles__topStats___3qffP-camelCase"
                                    style="text-align: center;font-size: 50px;margin-top: 10px;display:block;">
                                </div>
                            </div>
                            <div style="display: none;">
                                <div class="styles__topStats___3qffP-camelCase"
                                    style="text-align: center;font-size: 50px;margin-top: 10px;display:block;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>